In [1]:
x = [1,2,3,4,5,6,7,8]
y = [22,12,34,22,65,24,12,11]
z = ['as','ss','wa', 'ss','er','fd','ga','mf']
names = ['Bob', 'Liz', 'chop']

In [2]:
import pandas as pd

In [3]:
x = [1,2,3,4,5,6,7,8]
y = [22,12,34,22,65,24,12,11]
z = ['as','ss','wa', 'ss','er','fd','ga','mf']
names = ['Bob', 'Liz', 'chop']


def dataF(x,y,z,names):
    res = []

    for t in zip(x,y,z):
        res.append(t)

    return pd.DataFrame(res,columns=names)

In [4]:
dataF(x,y,z,names)

   Bob  Liz chop
0    1   22   as
1    2   12   ss
2    3   34   wa
3    4   22   ss
4    5   65   er
5    6   24   fd
6    7   12   ga
7    8   11   mf

In [5]:
def with_dict(loop_size=1e5):
    res = []

    for x in range(int(loop_size)):
        res.append({"a":x-1, "b":x, "c":x+1})

    return pd.DataFrame(res)

In [6]:
with_dict(loop_size=12)

     a   b   c
0   -1   0   1
1    0   1   2
2    1   2   3
3    2   3   4
4    3   4   5
5    4   5   6
6    5   6   7
7    6   7   8
8    7   8   9
9    8   9  10
10   9  10  11
11  10  11  12